body {
  background: #151719;
  background: -webkit-radial-gradient(top left, #151719, #292929);
  background: -moz-radial-gradient(top left, #151719, #292929);
  background: radial-gradient(to bottom right, #151719, #292929);
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 16px;
  line-height: 16px;
}

h1, h2, h3 {
  color: white;
}

h1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: white;
}

h2 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

p {
  margin: 20px;
  padding: 20px;
  color: white;
  font-family: 'Roboto',sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: violet;
  text-decoration: underline;
}

.container {
  width: 800px;   /* Définit la largeur */
  margin: 0 auto; /* Définit automatiquement les marges à gauche/droite */
}

.text-center {
  text-align: center;
}

.card {
  padding: 30px;
  margin: 20px;
  border-radius: 6px;
  box-shadow:0px 4px 5px 0px hsla(0,0%,0%,0.14);
}

.card-white {
  background: #25282C;
}

#home-page-first-image {
  width: 100px;
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  text-decoration: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}

.button-blue {
  background-color: cornflowerblue;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-top: 20px;
}

.button-blue:hover {
  background-color: black;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  padding: 10px;
}

.btn-social {
  color: white;
  font-size: 32px;
}

.btn-social:hover {
  color: black;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
